nav {
  background-color: #eff6fb;
  box-shadow: rgba(110, 170, 208, 0.2) 0px 0px 0px 3px;
}

.sidebar {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.btn-collapse.expanded {
  box-shadow: rgba(0, 0, 0, 0.08) 2px 0px 2px 1px;
}

.btn-capsule {
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 99px;
  background-color: var(--color-emerald-400);
  box-shadow: inset 0 0 0 0 var(--color-emerald-500);
  transition: all ease-in-out 0.3s;
}

.btn-capsule:hover {
  box-shadow: inset 0 -100px 0 0 var(--color-green-400);
}

.leaflet-top,
.leaflet-bottom {
  z-index: 400;
}

.checkbox.checked {
  background-image: url(/images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.category-expand-toggle {
  background-image: url(/images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.location-overlay-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px -4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

::selection {
  background-color: var(--color-amber-100);
}

::-moz-selection {
  background-color: var(--color-amber-100);
}
