.checkbox.checked {
  background-image: url(/images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.category-expand-toggle {
  background-image: url(/images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
