.checkbox.checked {
  background-image: url(/images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.category-expand-toggle {
  background-image: url(/images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.location-overlay-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px -4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.location-overlay h3 {
  position: relative;
}

.location-overlay h3::after {
  content: '';
  display: block;
  position: absolute;
  height: 1.2em;
  width: 100%;
  left: 0;
  bottom: 0.2em;
  z-index: -1;
  background-color: var(--color-green-200);
}
